
      .table-stroke thead th {
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
        .table-stroke tbody th,
        .table-stroke tbody td {
          border-bottom: 1px solid rgba(0, 0, 0, .05);
        }
      .table-stripe tbody tr:nth-child(odd) td,
      .table-stripe tbody tr:nth-child(odd) th {
        background-color: rgba(0,0,0,0.04);
      }
      /* Add stroke to the header and last item */
      .table-stripe thead th,
      .table-stripe tbody tr:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
        .table-stripe tbody tr:nth-child(odd) td,
      .table-stripe tbody tr:nth-child(odd) th {
        background-color: rgba(0,0,0,0.04);
      }
      /* Add stroke to the header and last item */
      .table-stripe thead th,
      .table-stripe tbody tr:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }